<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Listing</title>
</head> -->
<% layout("layouts/boilerplate") %>
<body>
    <h3>Edit your listing</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" class="needs-validation" novalidate>
    <div class="row">
        <div class="col-8 offset-2">
        <div class="mb-3">
            <label for="title" class="form-label">Title: </label>
            <input type="text" class="form-control" id="title"name="listing[title]" value="<%=listing.title%>">
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description: </label>
            <textarea type="text" class="form-control" id="description"name="listing[description]"  rows="5" cols="30"><%=listing.description%></textarea>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Image link: </label>
            <input type="text" class="form-control" id="image" name="listing[image]" value="<%=listing.image%>" required>
        
            <div class="valid-feedback">Nice!</div>
            <div class="invalid-feedback">Please Enter a valid image link</div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price: </label>
            <input type="number" class="form-control" id="price" name="listing[price]" value="<%=listing.price%>">
        
        </div>
        
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location: </label>
            <input type="text" class="form-control" id="location" name="listing[location]" value="<%=listing.location%>">
        
        </div>
        </div>
        
        <div class="mb-3">
            <label for="country" class="form-label">Country: </label>
            <input type="text"  class="form-control"id="country" name="listing[country]" value="<%=listing.country%>">
        
        </div>
        
        <button class="btn btn-dark edit-btn">Confirm</button>
        </div>
    </div>
    </form>
    
    
</body>
</html>